In [2]:
import pandas as pd
from string import ascii_uppercase as alphabet
import pickle
all_tables=pd.read_html('https://www.skysports.com/euro-2024-table')
all_tables[0]
all_tables[1]
all_tables[2]
all_tables[3]
all_tables[4]
all_tables[5]

   #            Team  Pl  W  D  L  F  A  GD  Pts  Last 6
0  1          Turkey   1  1  0  0  3  1   2    3     NaN
1  2  Czech Republic   0  0  0  0  0  0   0    0     NaN
2  3        Portugal   0  0  0  0  0  0   0    0     NaN
3  4         Georgia   1  0  0  1  1  3  -2    0     NaN

In [3]:
dict_table = {}
for letter, i in zip(alphabet, range(0,6,1)):
  df = all_tables[i]
  df.pop('Last 6')
  dict_table [f'Group {letter}'] = df

In [4]:
dict_table

{'Group A':    #         Team  Pl  W  D  L  F  A  GD  Pts
 0  1      Germany   1  1  0  0  5  1   4    3
 1  2  Switzerland   1  1  0  0  3  1   2    3
 2  3      Hungary   1  0  0  1  1  3  -2    0
 3  4     Scotland   1  0  0  1  1  5  -4    0,
 'Group B':    #     Team  Pl  W  D  L  F  A  GD  Pts
 0  1    Spain   1  1  0  0  3  0   3    3
 1  2    Italy   1  1  0  0  2  1   1    3
 2  3  Albania   1  0  0  1  1  2  -1    0
 3  4  Croatia   1  0  0  1  0  3  -3    0,
 'Group C':    #      Team  Pl  W  D  L  F  A  GD  Pts
 0  1   England   1  1  0  0  1  0   1    3
 1  2   Denmark   1  0  1  0  1  1   0    1
 2  3  Slovenia   1  0  1  0  1  1   0    1
 3  4    Serbia   1  0  0  1  0  1  -1    0,
 'Group D':    #         Team  Pl  W  D  L  F  A  GD  Pts
 0  1  Netherlands   1  1  0  0  2  1   1    3
 1  2       France   1  1  0  0  1  0   1    3
 2  3       Poland   1  0  0  1  1  2  -1    0
 3  4      Austria   1  0  0  1  0  1  -1    0,
 'Group E':    #      Team  Pl  W  D  L  F  A  GD  Pts
 0  1   Romania   1  1  0  0  3  0   3    3
 1  2  Slovakia   1  1  0  0  1  0   1    3
 2  3   Belgium   1  0  0  1  0  1  -1    0
 3  4   Ukraine   1  0  0  1  0  3  -3    0,
 'Group F':    #            Team  Pl  W  D  L  F  A  GD  Pts
 0  1          Turkey   1  1  0  0  3  1   2    3
 1  2  Czech Republic   0  0  0  0  0  0   0    0
 2  3        Portugal   0  0  0  0  0  0   0    0
 3  4         Georgia   1  0  0  1  1  3  -2    0}

In [3]:
with open ('dict_table', 'wb') as output:
  pickle.dump(dict_table, output)